/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f4f7fb;
    color:#333;
    line-height:1.7;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:40px 20px;
}

h1{
    color:black;
    font-size:20px;
    margin-bottom:10px;
}

h2{
    color:#555;
    margin-bottom:20px;
}

h3{
    color:black;
    margin-top:15px;
    margin-bottom:10px;
}

p{
    font-size:15px;
    margin-bottom:15px;
    padding:5px;
}

ul{
    list-style:none;
}

li{
border: 1px solid #ddd;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
background: white;
}

a{
    color:black;
    background:white;
    text-decoration:none;
    padding:12px 22px;
    border-radius:none;
    display:inline-block;
    margin-top:20px;
    transition:.3s;
}

a:hover{
    background:#1d4ed8;
}

section{
    background:white;
    padding:30px;
    border-radius:15px;
    margin-top:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}
.navbar {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 25px;
    padding: 0px;
    margin: 0;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: none;
    border-radius:none;
}

.navbar li a:hover {
    color:black;
}